/* > fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');

/* > variables */
:root {
    /* neutrals */
    --white: rgb(255, 255, 255);
    --black: rgb(4, 4, 3);
    --gunmetal: rgb(41, 47, 54);

    /* blues */
    --alice-blue: rgb(217, 240, 255); 
    --baby-blue: rgb(163, 213, 255);
    --sky-blue: rgb(131, 201, 244);
    --violet-blue: rgb(111, 115, 210);
    --glaucous: rgb(118, 129, 179); 

	/* transparent colors */
	--glaucous-tns: rgba(118, 129, 179, 0.3); 
	--black-tns: rgba(4, 4, 3, 0.3); 
}

/* > animations */
@keyframes topbox-pulse {
	0% {color: var(--sky-blue);}
	50% {color: var(--violet-blue);}
	100% {color: var(--gunmetal);}
}

/* general */
* {
	font-family: 'Spline Sans Mono', sans-serif; 
	margin: 0;
	padding: 0;
	text-align: center; 
}

body, html {
	background-color: var(--white);
	max-width: 100%;
	overflow-x: hidden;
}

h1, h2, h3, p {
	transition-property: color;
	transition-duration: 0.2; 
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;   
    height: 0px;
}

/* utility classes */
.centered {
    position: relative;
    text-align: center; 
    top: 50%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	-o-transform: translateY(-50%); 
}

/* topnav */
.topnav {
	background-color: var(--white);
	border-bottom: 1px solid var(--glaucous); 
	box-shadow: 0px 10px 20px var(--glaucous-tns);

	overflow: hidden;
	position: fixed; z-index: 10000;
	width: 100%;
}

.topnav a, .topnav button {
	color: var(--glaucous);	font-size: 20px;
	text-decoration: none; text-align: center;

	padding: 15px 20px;
	float: left;

	transition-property: background-color, color; 
	transition-duration: 0.3s;
}

.topnav .mode-toggle {
	float: right; 
	top: 0px; 
	background: none; border: none; 
}

.topnav a:hover, .topnav a:hover {
	color: var(--baby-blue);
}

.topnav #logo {
	color: var(--violet-blue);
	font-size: 20px; 
	animation: topbox-pulse 5s ease-in-out 0s infinite alternate
}

/* topbox */
div.topbox {
	margin: auto; 
	display: inline-block;

	width: auto; 
	height: 100vh; 
}

/* > topbox --> text */
.topbox h1, .topbox h2, .topbox h3 {
	color: var(--black); 
	position: relative;
	white-space: nowrap;
}

.topbox h1 {
	font-size: max(7vw, 115%); 
}

.topbox h2 {
	text-align: left; 
	left: 10%; 
	font-size: max(3.7vw, 100%); 
}

.topbox h3 {
	text-align: left;
	right: 5%;  
	font-size: max(2vw, 90%); 
}

/* > topbox --> text --> ids */
#title-topbox-f, #title-topbox-e {
	color: var(--gunmetal); 
	font-size: max(5vw, 120%); 
	position: relative; 
}

#title-topbox-e, .topbox #highlight {
	color: var(--sky-blue); 
}

#title-topbox-e {
	animation: topbox-pulse 9.4s ease-in-out 0s infinite alternate
}

.topbox #highlight {
	animation: topbox-pulse 6.5s ease-in-out 0s infinite alternate
}

/* textdesc */
div.textdesc { 
	height: 70vh;
	background-color: transparent;
	overflow: hidden; 
}

.textdesc .bg {
	height: 100%; 
	background-color: var(--sky-blue);
	transform: rotate(5deg); 
	overflow: hidden;  
	background-image: url(assets/textdesc-background.svg);

	transition-duration: 0.2s;
	transition-property: background-color; 
}

/* > textdesc --> text */
.textdesc h1, .textdesc h2 {
	transform: rotate(-5deg);
}

.textdesc h1 {
	color: var(--gunmetal); 
	font-size: 7vw; 
}

.textdesc h2 {
	color: var(--black); 
	font-size: min(3vw, 120%); 
}

/* > textdesc --> text --> pseudo-eleme\nts */ 
.textdesc .centered::before {
	content: ''; 
	background: var(--white); 

	position: absolute; 
	top: -17.5%; left: 20%;
	width: 60%; height: 135%; 

	transform: rotate(-6deg);
	background-size: 5em;
	background-attachment: fixed;
    background-position: center;

	box-shadow: 1em 1em var(--violet-blue); 
}

/* > textdesc --> text --> ids */ 
.textdesc #highlight {
	color: var(--violet-blue); 
}

/* programming */
div.programming {
	height: 60vh; 
	position: absolute; 
	left: 20%; 
	width: 60%
}

/* programming --> classes */
.p-block-l, .p-block-r {
	width: 50%; 
	height: 100%; 
	float: left
}

.p-block-l .logo {
    width: clamp(90px, 95px, 100px); 
    height: clamp(90px, 95px, 100px);  

    transition-duration: 0.3s;
    -webkit-transition-property: transform;
	transition-property: transform;

    filter: drop-shadow(3px 5px 2px var(--black-tns));
}

.p-block-r {
	overflow-x: hidden; 
}

.p-block-r .proj {
	margin-bottom: 5px;

	width: 80%; height: 4vw;
	left: 10%;
	position: relative; 

	border-radius: 1em;
	border: 3px solid var(--violet-blue);
	
	transition-property: width border-color; 
	transition-duration: 0.2s;
}

.p-block-r .proj:hover {
	border-color: var(--sky-blue);
	width: 85%;
	left: 7.5%; 
}

/* programming --> effects */ 
.programming .logo:hover { 
    transform: scale(1.1);
    filter: drop-shadow(3px 5px 6px var(--black-tns));
}

/* programming --> text */
.p-block-l h1 {
	font-size: max(4vw, 240%);
}

.p-block-r h1 {
	animation: topbox-pulse 5s ease-in-out 0s infinite alternate;
	font-size: max(3vw, 180%);
}

.p-block-r h3 {
	color: var(--black);
	font-size: max(0.8vw, 95%); 
}

.p-block-r i {
	font-size: max(0.8vw, 60%); 
}

.p-block-l h2, .p-block-r h2 {
	color: var(--gunmetal);
	font-size: max(1.2vw, 105%);
}

.p-block-r a {
	text-decoration: none;
	color: var(--gunmetal); 
	transition-property: font-size color;
	transition-duration: 0.2s;
}

/* programming --> text --> effects */
.p-block-r a:hover {
	color: var(--sky-blue); 
	font-size: 1.2vw;
}

/* programming --> ids */
.programming #title-programming-f {
	color: var(--black);
}

.programming #title-programming-e {
	color: var(--violet-blue); 
}

/* dark mode transition effects */
body, html, div.topnav {
	transition-property: background-color;
	transition-duration: 0.2s;
}

/* @media */
@media only screen and (max-width: 1000px) {
	.textdesc .centered::before {
		width: 110%; left: -5%;
	}
}

@media only screen and (max-width: 500px) {
	.topnav a, .topnav button, .topnav #logo {
		font-size: 3.2vw; 
		padding: 2vw; 
	}

	div.programming { height: 120vh; }

	.programming .logo {
		width: 75px; 
		height: 75px; 
	}

	.p-block-l, .p-block-r {
		width: 100%;
		height: 50%;  
	}

	.p-block-l { margin-bottom: -50px; }

	.p-block-r .proj {
		height: 10vw; 
		width: 85%;
	}

	.p-block-r .proj:hover { width: 90%; }

	.p-block-r a:hover {
		color: var(--sky-blue); 
		font-size: 4vw;
	}
}