$bg: rgb(44 56 81);

$y1: rgb(255 209 102);
$y2: rgb(172 210 124);
$g1: rgb(89 213 148);
$g2: rgb(6 214 160); 

$link: rgb(0 92 175);
$link-dark: rgb(22 132 205);

@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.main {
    @include flex;

    background-color: $bg;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    width: 100vw;

    .container {
        @include flex;

        align-items: flex-start;
        flex-direction: column;
        font-size: 1vw;
        height: 200vw;
        justify-content: flex-start;
        margin-top: 15vh;
        width: 60vw;

        h1 {
            color: white;
            font-size: 5vh;
            font-stretch: extra-expanded;
            margin: 3vh;
            margin-left: 1.5vh;

            span {
                color: rgb(200 200 200);
                font-stretch: condensed;
            }
        }

        h2 {
            color: transparent;
            font-size: 4vh;
            font-stretch: expanded;
            margin: 1vh;
            margin-left: 1.5vh;
            margin-top: 8vh;
            -webkit-text-stroke: 0.1vh white;
        }

        p {
            color: rgb(255 255 255 / 0.8);
            font-size: 3vh;
            font-weight: 100;
            line-height: 3vh;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }
}