@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../MonaSans-Regular.ttf");
}

* {
    font-family: "Mona Sans";
    padding: 0;
    margin: 0;
}

.navbar {
    @include flex;

    background: linear-gradient(90deg, rgb(22 22 25 / 0.5) 0%, rgb(37 37 40 / 0.5) 100%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 0.5);
    font-weight: 100;
    height: 50px;
    left: 10vw;
    margin-bottom: 20px;
    position: absolute;
    top: 5%;
    width: 80vw;

    .idx {
        color: rgb(198, 221, 255);
        font-size: 100%;
        font-weight: 100;
        margin-left: 2%;
        margin-right: 10%;
        white-space: nowrap;
    }

    .logout {
        color: rgb(240 230 230);
        margin-left: 5%;
    }

    a {
        @include flex;

        border-width: 1px;
        border-color: transparent;
        border-style: solid;

        color: rgb(230 230 230);
        height: 60%;
        margin: 1%;
        text-decoration: none;
        transition: border-color 0.3s, border-radius 0.3s, color 0.2s, font-size 0.2s, text-shadow 0.3s;
        white-space: nowrap;
        width: 15%;

        &:hover {
            border-color: rgb(255 255 255 / 0.5);

            border-radius: 10px;
            color: white;
            text-shadow: 0px 5px 5px rgb(0 0 0 / 0.3);
        }

        &:visited {
            text-decoration: none;
        }
    }
}

body {
    @include flex;
    background-color: rgb(45, 46, 49);
    height: 100vh;
    width: 100vw;

    p {
        color: white;
        font-size: 250%;
    }
}