@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes shift-margin {
    from { margin-left: 0px }
    to { margin-left: 3% }
}

$bg: rgb(44 56 81);

$y1: rgb(255 209 102);
$y2: rgb(172 210 124);
$g1: rgb(89 213 148);
$g2: rgb(6 214 160); 

.main {
    @include flex;
    background-color: $bg;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .title {
        @include flex;
        flex-direction: column;
        font-size: 8vw;
        height: 20vw;
        width: 60vw;

        h1, h2 {
            color: white;
            font-stretch: ultra-expanded;
            font-size: 10vw;
            line-height: 80%;
            margin: 0;
            padding: 0;
        }

        h1 {
            @include flex;
            animation: 8.6s ease-in-out infinite alternate shift-margin;
            color: transparent;
            justify-content: flex-start;
            width: 100%;
            -webkit-text-stroke: 0.25vw white;
        }

        h2 {
            @include flex;
            animation: 11.4s ease-in-out infinite alternate shift-margin;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .bar {
        @include flex;

        height: 1vw;
        margin-bottom: 1.5vw;
        width: 60vw;

        div { 
            height: 100%;
            width: 25%;
        }

        .y1 { 
            background: $y1; 
            border-bottom-left-radius: 30px; 
            border-top-left-radius: 100px; 
        }

        .y2 { background: $y2; }
        .g1 { background: $g1; }

        .g2 { 
            background: $g2; 
            border-bottom-right-radius: 100px; 
            border-top-right-radius: 30px; 
        }
    }

    .description {
        color: white;
        font-size: 2vw;
        font-stretch: expanded;
        font-weight: 200;
    }
}